#blues-clues {
  --bg-size: 200px;

  details {
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }

  details[open] {
    padding: 0.5em;
  }

  details[open] summary {
    border-bottom: 1px solid #aaaaaa;
    margin-bottom: 0.5em;
  }

  .cat-bg {
    background-image: url("../images/blue/cat-bg.jpg");
    background-size: var(--bg-size);
    background-repeat: repeat; /* this is the default but better safe than sorry */
    animation: scroll-bg 5s infinite linear;

    > * {
      padding: 1vmin;

      /* give text a white stroke so it's legible - might remove */
      -webkit-text-stroke: 1px whitesmoke;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-auto-rows: minmax(100px, 300px); */
    gap: 0.5rem; /* better value for this? */
  
    > * {
      margin: auto;
    }
  }

  .video-container {
    aspect-ratio: 16 / 9;
  }
}

#el-comandante {
  /* fill the entire container; use that to control size and forget about it */
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@keyframes scroll-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--bg-size) var(--bg-size);
  }
}