body {
    background-image: url('../images/dog-bg.jpg');
}

.letterbox {
    margin: 3vmax;
    padding: 1rem;
    background-color: white;
    box-shadow: gray 0rem 0rem 2rem;
}

#now-playing {
    position: fixed;
    z-index: 1;
    top: 1em;
    right: 1em;
}

/* scale images down if they're too big */
img {
    max-width: 100%;
}