.spotify {
  display: inline-flex;
  align-items: center;
  background-color: #121212; /* spotify bg color */
  transition: opacity 500ms, scale 500ms;
  height: 80px;
  padding: 0 15px 0 15px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.4);
}

.spotify .soundwave-container {
  height: 40px;
  width: auto;
  display: flex;
  align-items: flex-end;
  margin-right: 15px;
}

.spotify .bar {
  width: 6px;
  height: 100%;
  background: #1dd05d;
  border-radius: 2px;
  margin: 0 2px;
  animation: equalizer 1.9s steps(20, end) infinite;
  transition: height 0.1s;
}

.spotify .bar:nth-child(1) {
  animation-duration: 1.9s;
}

.spotify .bar:nth-child(2) {
  animation-duration: 2.0s;
}

.spotify .bar:nth-child(3) {
  animation-duration: 1.7s;
}

.spotify .bar:nth-child(4) {
  animation-duration: 2.1s;
}

.spotify .song {
  display: flex;
  align-items: center;
}

.spotify .albumart {
  background-image: url('https://i.scdn.co/image/ab67616d00001e02703c4a4ed1374cd364afe7af');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  margin-right: 15px;
  border-radius: 4px;
}

.spotify .title {
  color: #1dd05d;
  font-size: 1.3rem;
  padding: 0; margin: 2px 0 6px;
}

.spotify .artist {
  font-size: 1rem;
  padding: 0; margin: 2px 0;
  color: #baaebc;
}

.spotify .artist:hover {
  border-bottom: 1px solid;
  margin-top: -0.5px;
  cursor: pointer;
}

.spotify .animate {
  animation: heart-burst .8s steps(28) forwards;
}

@keyframes heart-burst {
	0% {
		background-position: left
	}
	100% {
		background-position: right
	}
}

@keyframes equalizer {
  0% {
    height: 10%;
  }
  4% {
    height: 40%;
  }
  8% {
    height: 60%;
  }
  12% {
    height: 20%;
  }
  16% {
    height: 40%;
  }
  20% {
    height: 70%;
  }
  24% {
    height: 30%;
  }
  28% {
    height: 10%;
  }
  32% {
    height: 30%;
  }
  36% {
    height: 50%;
  }
  40% {
    height: 60%;
  }
  44% {
    height: 70%;
  }
  48% {
    height: 80%;
  }
  52% {
    height: 70%;
  }
  56% {
    height: 60%;
  }
  60% {
    height: 50%;
  }
  64% {
    height: 60%;
  }
  68% {
    height: 70%;
  }
  72% {
    height: 80%;
  }
  76% {
    height: 60%;
  }
  80% {
    height: 50%;
  }
  84% {
    height: 40%;
  }
  88% {
    height: 30%;
  }
  92% {
    height: 20%;
  }
  96% {
    height: 30%;
  }
  100% {
    height: 40%;
  }
}
